[submodule "deps/qemu"]
	path = deps/qemu
	url = https://github.com/qemu/qemu
[submodule "src/modules/llama.cpp"]
	path = src/modules/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "deps/libslirp"]
	path = deps/libslirp
	url = https://gitlab.freedesktop.org/slirp/libslirp.git
